/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

.App {
  text-align: center;
  font-family: Lusitana;
}

.App-link {
  color: #61dafb;
}
.navbar {
  padding-left: 40px;
  padding-right: 40px;
}
.responsive-navbar {
  padding: 10px;
  justify-content: flex-end;
}
.navlink {
  padding-left: 30px;
  text-decoration: none;
  color: black;
}
.dropdown {
  display: flex;
  margin: 20px 20px 20px 30px;
}
.card {
  padding: 10px;
  margin-bottom: 30px;
}

/* .grid {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 10px;
  border-color: blueviolet;
} */
body {
  padding-top: 50px;
}

.btn-sort {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* making book covers display the same size */
/* https://stackoverflow.com/questions/49325210/how-to-make-two-different-images-similar-in-size-without-distortion/49325270#49325270 */
.book-cover {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 200px;
}
